/* font family*/
@font-face {
    font-family: 'Open Sans' ;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
}


/* ----- body---- */


.bg-hero  {
    background-image: url('../images/banner_hero.jpg'); 
}

#adama input {
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%;
}

#adama textarea {
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%;
}

#mina input {
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%;
}

#banel input {
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%; 
}

#banel textarea {
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%;
}





