{% extends 'base.html.twig' %}

{% block title %}Hello ConfidentialiteController!{% endblock %}

{% block body %}
<div class="container py-16 px-7 mb-15 md:py-20 md:px-14 lg:px-20 lg:py-24 xl:py-32 xl:px-28">
    <h2 class="text-center font-semibold text-darkblue text-2xl md:text-3xl lg:text-5xl  mb-10 md:mb-16 lg:mb-20 ">Poltique de confidentialité</h2>
    <p class="text-justify lg:text-lg xl:text-xl">
    Le but de cette poltique de confidentialité <br />
    Le but de cette politique de confidentialité est d'informer les utilisateurs de notre des données personnelles que nous recuillerons
    ainsi que les informations suivanttes, le cas échant :
    <br /> Les données personnelles que nous recueillerons, l'utilisation des données recueillies, qui a acces aux données recueillies, les 
    droits des utilisateurs du site, la politique de cookies du site<br /> Cette politique de confidentialité fonctionne parrallèlement
    aux conditions générales d'utilisation de notre site<br /> Les lois applicables :<br /> Conformément au Règlement sur la 
    protection des données, cette politique de confidentialité est conforme aux règlement suivants.<br /> Les données à caractère personnel doivent etre :<br />
    Traitées de manière licite, loyale et transparente au regard de la personne concernée;<br />Collectées pour des finalités déterminées, explicites et légitimes, et ne pas etre 
    ultérieurement d'une maniere incompatible avec ces finalités; le traitement ultérieur à des fins archeviques dans l'interet public, à des
    fins de recherche scientifique ou historique ou à des fins statistiques n'est pas considéré, conforme à l'article 89, paragraphe 1,
    comme incompatible avec des finalités initiales;<br />Consentement : <br />Les utilisateurs conviennent qu'en utilisant notre site, il consentent à :<br />
    les conditions énoncées dans la presente politique de confidentialité et la collecte, l'utilisation et la conservation des données énumérés dans 
    la présente politique.<br /> Données personnelles que nous collectos :<br /> Données colletées automatiquement, lorsque vous
    visitez et utilisez notre site, nous pouvons automatiquement recueillir et conserver les renseigments.<br />Comment nous utilisons les données personnelles :<br />
    Les données personnelles reccueillies sur notre site seront utilisées uniquement aux fins précisées dans la présente politique ou indiquées sur les pages pertinentes
    de notre site. Nous n'utiliserons pas vos données au-delà de ce que nous divulguerons.<br />Les onnées que nous recueillons automatiquement sont utilisées aux fins suivantes : <br />
    Avec qui nous partageons les données personnelles : <br />
    Employés, tierces parties, autres divulgations si la loi l'exige, si elle est requise pour toute procédure judiciaire, pour prouver ou protéger nos droits légaux
    à des acheteurs ou des acheteurs potentiels.<br />  Combien de temps nous stockons les données personnelles : <br />
    Nous ne conservons pas les données des utilisateurs au-delà de ce qui est néccessaire pour atteindre les fins pour lesquelles elles sont receuillies.<br />
    Comment nous protégeons vos données personnelles :  <br />
    Alors que nous prenons toutes les précaution raisonnables pour nous assurer que nos données d'utilisateur sont sécurisées et que les utilisateurs sont protégés, il 
    reste toujours un risque de préjudice.L'internet en sa totalité peut etre, parfois, peu sur et donc nous sommes incapables de garantir la securite des données des utilisateurs au-delà
    de ce qui est raisonnablement pratique.<br />Mineurs : <br />Le RGPD précise que les personnes de moins de 15 ans sont considérées comme des mineurs aux fins de la collecte de données.
    Les mineurs doivent avoir le consentement d'un représentant légal pour que leurs données soient recueillies, traitées et utilisées.<br />
    Vos droits en tant qu'utilisateur : <br />En vertu du RGPD, les utilisateurs ont le droits suivants en tant que personnes concernées :<br />
    droit d'accès, droit de rectification, droit à l'effacement, droit de restreindre le traitement, droit à la portabilité des données, droit d'objection.<br />
    Comment modifier,supprimer ou contester les données recueillies :  <br />
    Si vous souhaitez que vos renseignements soient sipprimés ou modifiés d'une facon ou d'une autre, veuillez communiquer avec notre agent
    de protection de la vie privée.<br />
    Politique sur les cookies :<br />
    Un cookie est un petit fichier stocké sur le dique dur d'un utilisateur par le site web. Son but est de recueillir des données relatives aux habitudes de navigation de l'utilisateur.<br />
    Vous 
    </p>
  </div>  
{% endblock %}
